{{ ansible_managed | comment }}

# Refer to the bitcoind source repository for changes
# https://github.com/bitcoin/bitcoin/blob/master/contrib/init/bitcoind.service

[Unit]
Description={{ coind_name }} daemon
After=network.target

[Service]
ExecStart=/usr/bin/bitcoind -daemon \
                            -pid=/var/run/{{ coind_binary }}/{{ coind_binary }}.pid \
                            -conf=/etc/{{ coind_name }}/{{ coind_name }}.conf \
                            -datadir={{ coind_home }}
Type=forking
PIDFile=/run/{{ coind_binary }}/{{ coind_binary }}.pid
Restart=on-failure
User={{ coind_user }}
Group={{ coind_group }}
RuntimeDirectory={{ coind_binary }}
RuntimeDirectoryMode=0710
ConfigurationDirectory={{ coind_name }}
ConfigurationDirectoryMode=0710
StateDirectory={{ coind_binary }}
StateDirectoryMode=0710
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
